<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameFinder</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!--  Barra de navegación -->
   <nav class="navbar">
    <div class="nav-logo">
    <img src="{{ url_for('static', filename='logo.png') }}"
    <span>GameFinder</span>

    </div>
        
        <div class="nav-menu">
            <a href="#">Favoritos</a>
            <a href="#">Biblioteca</a>
            <a href="#" class="btn-cuenta">Cuenta</a>
            
            <!-- Icono de las rayas (menu hamburguesa) -->
            <div class="icono-menu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
    

    <main class="busqueda">
        <p>Consulta informacion de tu juego en un solo lugar.</p>

        <div class="barra-busqueda">
            <input type="text" placeholder="" disabled>
            <button type="button">Buscar</button>
        </div>
    </main>

</body>

</html>